*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(47, 47, 47);
}

.calculator-display {
  position: fixed;
  top: 20%;
  left: 55%;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
}

.result {
  font-size: 1.5rem;
  text-align: right;
  padding: 1rem;
  background-color: rgb(133, 134, 148);
  color: #fff;
  margin-bottom: 0;
}

.cal-btn,
.orange-btn,
.zero-btn {
  background-color: #000;
  border: 1px solid #fff;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  width: 110px;
}

.cal-btn,
.zero-btn {
  background-color: rgb(224, 224, 224);
}

.zero-btn {
  width: 220px;
}

.orange-btn {
  background-color: rgb(245, 145, 62);
}

/* Nabar CSS */

.navbarContainer {
  background-color: rgb(133, 134, 148);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
}

.navList li {
  list-style-type: none;
  display: inline;
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
}

.homepage {
  color: #fff;
  margin-top: 5%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.quotes {
  color: #fff;
  font-size: 35px;
  margin-left: 10%;
  margin-top: 10%;
}